body{

}

header{
height: 100px;
background-color: #FF9900;
width: 100%;
z-index: 10;
position: fixed;
top: 0px;
}

h1{
    text-align: center;
  font-family: futura;
  font-size: 220%;
letter-spacing: 4px;
color: white;
text-shadow: 2px 2px #C8C8C8 ;
padding: 4px;

}

h2{
    font-family: futura;
}
h3{
	font-family: futura;
font-size: 200%;
letter-spacing: 4px;
padding: 4px;
 text-align: center;
}



p{
    font-family: futura;
    font-size: 110%;
    display: none;

}
label{
  border-radius: 25px;
}

.menu{
   position: absolute;
    width: 150px;
    right: 130px;
      position:right;
    text-align:right;
  font-family: futura;
  color: #FFFFFF;


}

.loggain{
    
   position: absolute;
    width: 100px;
    right: 130px;
      position:right;
    text-align:right;
  font-family: futura;
  text-shadow: 0px 0px;


letter-spacing: 2px;
color: white;

padding: 4px;
}



input[type=submit]
{
	cursor:pointer;
}

.php{height: 200px;
width: 200px;
overflow-y: scroll;
font-size: 70%;
}



#banner {
background-color: #9999FF;
	width: 100%;
	height: 50%;
	position: fixed;
	top: 13%;
background-image: url('../img/bild.jpg');
	background-size: cover;
}

#content2{

	position:absolute;
	background: #FFFFFF;
	top: 63%;
	height:700px;
	z-index: 1;
	width: 100%;
}
#container{
    text-align: center;
    background-color: antiquewhite;
    position: relative;
    top: -32px;
    height: auto;
    width: 70%;
    left: 50%;
    margin-left: -35%;
    border-radius: 5px;
}




legend
{
font-size:170%;
font-family: futura;
text-align: center;
}


fieldset { 
    
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 0.75em;
    padding-right: 0.75em;

    border-color: #FF9900;

}

a{
	color: #FFFFFF;
	font-size: 130%
}


#lista{
    position: absolute;
    top: 80%;

}

.list{
    background-color: whitesmoke;
    border-color: darkgrey;
    height: auto;
    width: 250px;
    margin-left: 40%;
    margin-bottom: 25px;
}

p{
    font-family: cursive;

}

#listnamn{
  text-align: center;
  margin-left: +5%;
  position: relative;
  top: -46px;
  left: 11px;
 }
#nylista {
    position: relative;
    left: 5%;
    top: -85px;
  background: #accbe0;
  background-image: -webkit-linear-gradient(top, #accbe0, #577080);
  background-image: -moz-linear-gradient(top, #accbe0, #577080);
  background-image: -ms-linear-gradient(top, #accbe0, #577080);
  background-image: -o-linear-gradient(top, #accbe0, #577080);
  background-image: linear-gradient(to bottom, #accbe0, #577080);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  -webkit-box-shadow: 0px 4px 9px #666666;
  -moz-box-shadow: 0px 4px 9px #666666;
  box-shadow: 0px 4px 9px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 52px;
  padding: 0px 15px 0px 15px;
  border: solid #bfc4c7 0px;
  text-decoration: none;
}

#nylista:hover {
  background: #ababab;
  text-decoration: none;
}
#nylista:focus{
    outline: 0;

}
#box{
    position: relative;
    top: 20px;
    bottom: 50%;
    margin-bottom: 6%;

}
.addp {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #a2afb8;
  padding: 0px 5px 0px 5px;
  border: solid #bfc4c7 0px;
  text-decoration: none;
}

.addp:hover {
  background: #918f88;
  text-decoration: none;
}
.addp:focus{
    outline: 0;
}


.search{

	position:left;
	text-align:left;
	text-shadow: 0px 0px;
}

#namn{
border-radius: 10px;
-moz-border-radius: 10px;
-khtml-border-radius: 10px;
-webkit-border-radius: 10px;
border-color:  #FF9900;
}
#password
{
border-radius: 10px;
-moz-border-radius: 10px;
-khtml-border-radius: 10px;
-webkit-border-radius: 10px;
border-color:  #FF9900;
}
#password2{
  border-radius: 10px;
-moz-border-radius: 10px;
-khtml-border-radius: 10px;
-webkit-border-radius: 10px;
border-color:  #FF9900;
}
#email{
  border-radius: 10px;
-moz-border-radius: 10px;
-khtml-border-radius: 10px;
-webkit-border-radius: 10px;
border-color:  #FF9900;
}
.listdiv{
  background-color: linen;
  width: 40%;
  left: 50%;
  position: relative;
  margin-left: -20%;
  border-radius: 20px;
    bottom: 20px;
}
.btnX {
    position: relative;
    bottom: 40px;
    left: 150px;
    margin-bottom: 0px;
    margin-top: 0px;
    display: inline-block;
  background: #ff0000;
  background-image: -webkit-linear-gradient(top, #ff0000, #420000);
  background-image: -moz-linear-gradient(top, #ff0000, #420000);
  background-image: -ms-linear-gradient(top, #ff0000, #420000);
  background-image: -o-linear-gradient(top, #ff0000, #420000);
  background-image: linear-gradient(to bottom, #ff0000, #420000);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  padding: 2px 7px 4px 7px;
  text-decoration: none;
    border: 0;
}

.btnX:hover {
    border: 0;
  background: #d61c1c;
  text-decoration: none;
}
.btnX:focus{
 outline: 0;   
}
.btnEdit{
    display: none;
  position: relative;
  left: 10px;
}
.btnDeleteList{
    position: relative;
  display: none;
  top: 6px;
  left: 113px;
}
.btnAdd{
    display: none;
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #a2afb8;
  padding: 0px 5px 0px 5px;
  border: solid #bfc4c7 0px;
  text-decoration: none;
  left: 10px;
  position: relative;
}
}
.btnAdd:hover{
      background: #918f88;
  text-decoration: none;
}
.btnAdd:focus{
    outline: 0;
}
.txtAdd{
      position: relative;
  left: 10px;
  display: none;
}
.divcom{
    background-color: wheat;
    width: 40%;
    border-radius: 7px;
}
.contentCom{
    display: block;
}
.userCom{
    display: block;
    font-family: -webkit-pictograph;
}
.prodclass{
    border: 0px;
  font-family: cursive;
  font-size: 18px;
  background-color: linen;
  text-align: center;
  border-radius: 5px;
    
}
.active{
    opacity: 0.4;
    display: inline-block;
}
.btnShow{
  -moz-box-shadow: inset 1px 0px 29px -6px #ffffff;
  -webkit-box-shadow: inset 1px 0px 29px -6px #ffffff;
  box-shadow: inset 1px 0px 29px -6px #ffffff;
  background-color: #ededed;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  display: inline-block;
  cursor: pointer;
  color: #121111;
  font-family: Trebuchet MS;
  font-size: 13px;
  font-weight: bold;
  padding: 6px 13px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #ffffff;
  border: 0px;
  position: relative;
  top: -46px;
  left: 160px;
}
.btnShow:hover {
	background-color:#dfdfdf;
      position: relative;
  top: -46px;
  left: 160px;
}
.btnShow:active {
	position:relative;
      position: relative;
    top: -46px;
    left: 160px;
}
.btnShow:focus{
 outline: 0; 
}
.listclass{
      position: relative;
  top: -43px;
  left: 7px;
    
}
.showCom{
      position: relative;
  right: 97px;
  top: -13px;
    
}
.btnShare{
      position: relative;
  right: 153px;
  top: -44px;
    
}
.shareform{
      position: relative;
  top: -25px;
  left: 14px;
}
.intro{
 display: block;   
}
fieldset{
 text-align: center;
}