body{
text-align: center;

font-family:Candara;
}

header{
	height: 14%;
background-image: url('../img/header3.jpg');
width: 100%;
z-index: 10;
position: fixed;
background-color: #C8C8C8;
font-size: 130%;
letter-spacing: 4px;
color: white;
text-shadow: 2px 2px #C8C8C8 ;
border-radius: 25px;
top: 20%;

}
h2{
	text-align: center;
}

.loggain{
    
    position: absolute;
    width: 100px;
    right: 130px;
}

.loggain{
	position:right;
	text-align:right;
}

input[type=submit]
{
	cursor:pointer;
}

.php{height: 200px;
width: 200px;
overflow-y: scroll;
font-size: 70%;
}

p{
	/*font-size:150%;
	color: #9999FF;
*/
}

#banner {
background-color: #9999FF;
	width: 100%;
	height: 50%;
	position: fixed;
	top: 15%;
background-image: url('../img/mat1.jpg');
	background-size: cover;
}

#content2{
	width:50%;
	left:25%;
	position:absolute;
	background: #FFFFFF;
	top:435px;
	height:1000px;
	z-index: 1;
	border-radius: 40px 40px;
}
#content{

	width: 100.6%;
	position: fixed;
	top: 427px;
	height: 1500px;
	background-image: url('bild2.jpg');


}



legend
{
font-size:170%;
color: #9999FF;
text-align: center;
}



fieldset { 
    height:20%;
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 0.75em;
    padding-right: 0.75em;

    border-color: #9999FF;

}

a{
	color:#9999FF;
	font-size: 130%
}

#lista{
    position: absolute;
    top: 80%;

}
.addp:focus{
    outline: 0;
}

.list{
    background-color: whitesmoke;
    border-color: darkgrey;
    height: auto;
    width: 300px;
    margin-left: 25%;
    margin-bottom: 25px;
}
h1{
    font-family: futura;
}
p{
    font-family: cursive;
}
#container{
    text-align: center;
    background-color: antiquewhite;
    position: absolute;
    width: 70%;
    left: 50%;
    margin-left: -35%;
    top: 20%;
}
#nylista {
    position: relative;
    left: 23%;
    top: -70px;
  background: #accbe0;
  background-image: -webkit-linear-gradient(top, #accbe0, #577080);
  background-image: -moz-linear-gradient(top, #accbe0, #577080);
  background-image: -ms-linear-gradient(top, #accbe0, #577080);
  background-image: -o-linear-gradient(top, #accbe0, #577080);
  background-image: linear-gradient(to bottom, #accbe0, #577080);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  -webkit-box-shadow: 0px 4px 9px #666666;
  -moz-box-shadow: 0px 4px 9px #666666;
  box-shadow: 0px 4px 9px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 52px;
  padding: 0px 15px 0px 15px;
  border: solid #bfc4c7 0px;
  text-decoration: none;
}

#nylista:hover {
  background: #ababab;
  text-decoration: none;
}
#nylista:focus{
    outline: 0;
}
#box{

}
.addp {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #a2afb8;
  padding: 0px 5px 0px 5px;
  border: solid #bfc4c7 0px;
  text-decoration: none;
}

.addp:hover {
  background: #918f88;
  text-decoration: none;
}

