body{
text-align: center;

font-family:Candara;
}

header{
	height: 14%;
background-image: url('../bilder/header3.jpg');
width: 100%;
z-index: 10;
position: fixed;

font-size: 130%;
letter-spacing: 4px;
color: white;
text-shadow: 2px 2px #C8C8C8 ;
border-radius: 25px;

}

.php{height: 200px;
width: 200px;
overflow-y: scroll;
font-size: 70%;
}

p{
	font-size:150%;
	color: #9999FF;

}

#banner {

	width: 100%;
	height: 50%;
	position: fixed;
	top: 15%;
background-image: url('../bilder/mat1.jpg');
	background-size: cover;
}

#content2{
	width:50%;
	left:25%;
	position:absolute;
	background: #FFFFFF;
	top:435px;
	height:1000px;
	z-index: 1;
	border-radius: 40px 40px;
}
#content{

	width: 100.6%;
	position: fixed;
	top: 427px;
	height: 1500px;
	background-image: url('../bilder/bild2.jpg');


}



legend
{
font-size:170%;
color: #9999FF;
text-align: center;
}



fieldset { 
height:20%;
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 0.75em;
    padding-right: 0.75em;

    border-color: #9999FF;

}

a{
	color:#9999FF;
	font-size: 130%
}



